.background-header {
  background: url(../images/background-header/Mask\ Group\ 40.png);
  width: 100%;
  height: 704px;
  z-index: 10;
}
.shadow-bg {
  background: url(../images/background-header/Rectangle\ 41067.png);
  height: 485px;
  width: 100%;
  position: absolute;
  /* z-index: 9; */
}

/* پاک کردن هدر موبایل */
.mobile-header {
  display: none;
}

.shadow-on-bg {
  position: relative;
  z-index: 11;
}

.container-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.search-bar {
  position: relative;
  width: 525px;
  height: 58px;
  z-index: 11;
}

.search-bar form .search-icon-bg {
  position: absolute;
  background-color: #f8fbfb;
  border-radius: 150px 0px 0px 0px;
  border-width: 2px;
  border-color: #f1f1f1;
  height: 100%;
  width: 62px;
  z-index: 8;
}

.search-bar form img {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 11;
  right: 20px;
  top: 20px;
}

.search-bar form input {
  position: absolute;
  font-size: 14px;
  width: 100%;
  height: 58px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-right: 100px;
}

/* حذف ساب منو موبایل */
.submenu-mobile {
  display: none;
}

.search-bar form input:focus {
  outline: solid;
  outline-color: #d6d6d6;
  position: absolute;
  outline-width: 1px;
}

.search-bar form button {
  position: absolute;
  left: 20px;
  border: none;
  background-color: #00a9b8;
  color: #ffffff;
  width: 80px;
  height: 48px;
  top: 5px;
}

/* قسمت تماس ها سمت چپ */
.contact {
  width: 496px;
  height: 39px;
}

/* whatsapp contact css */
.whatsapp-number {
  color: #44424b;
  direction: ltr;
  font-size: 16px;
}

.whatsapp-number span {
  color: #00a9b8;
}

.whatsapp-text {
  color: #818899;
  font-size: 12px;
}

.line-1 {
  border-style: none dashed none none;
  border-width: 2px;
  height: 40px;
  color: #7f7e87;
}

/* phone number information css */
.phone-number-1 {
  color: #44424b;
  direction: ltr;
  font-size: 16px;
}

.phone-number span {
  color: #00a9b8;
}

.phone-text {
  color: #818899;
  font-size: 12px;
}

.line-1 {
  border-style: none dashed none none;
  border-width: 2px;
  height: 40px;
  color: #7f7e87;
}

/* instagram yotube telegram links */
.instagram-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-color: #d6d6d6;
  border-style: dashed dashed dashed dashed;
  border-width: 2px;
}

.instagram-link a img {
  width: 18px;
  height: 17px;
}

.youtube-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-color: #00a9b8;
  border-style: dashed dashed dashed dashed;
  border-width: 2px;
}

.youtube-link a img {
  width: 22px;
  height: 18px;
}
.telegram-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-color: #d6d6d6;
  border-style: dashed dashed dashed dashed;
  border-width: 2px;
}

.telegram-link a img {
  width: 22px;
  height: 17px;
}

/* ردیف دوم هدر */

.header-column2 {
  width: 90%;
}

.header-column2 .menu-bg-1 {
  position: relative;
  width: 90%;
  height: 104px;
  z-index: 8;
  background-color: #f1f1f1;
  border-color: #ff0000c5;
  border: 20px;
  border-width: 3px;
}

.header-column2 .menu-bg-1 .menu-bg-2 {
  position: absolute;
  z-index: 7;
  width: 98%;
  height: 88.67px;
  background-color: #f1f1f1;
  left: 11px;
  top: 8px;
}

/* منو لوگو */
.logo-turkamin {
  background-color: #ffffff;
  width: 197px;
  height: 89px;
  border-radius: 150px 0px 0px 0px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.menu-main-links ul {
  list-style: none;
}

.menu-main-links ul li a {
  text-decoration: none;
  color: #44424b;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.menu-main-links ul li a:hover {
  color: #ff8a4a;
}

/*  وقتی میره روی خدمات ترکیه */
.khadamat-turkie-hover.show {
  position: absolute;
  z-index: 8;
  right: 450px;
  width: 219px;
  height: 327px;
  background-color: #ffffff;
  border: 10px;
  top: 180px;
  display: inline;
}

.khadamat-turkie-hover {
  display: none;
}

.khadamat-turkie-hover p {
  font-family: yekanBakhFanum-bold;
  font-size: 14px;
  color: #44424b;
}

.khadamat-turkie-hover ul li img {
  width: 9px;
  height: 8px;
  cursor: pointer;
}

.khadamat-turkie-hover ul li a {
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
  font-size: 14px;
  color: #44424b;
}
.khadamat-turkie-hover ul li a:hover {
  color: #ff8a4a;
}

.sar-daste {
  background-color: #fdefe8de;
  width: 100%;
  height: 59px;
}
/* ساب منو خدمات در ترکیه */
.submenu-turkie-arrow-1.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-turkie-arrow-1 {
  display: none;
}

.submenu-turkie-arrow-2.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-turkie-arrow-2 {
  display: none;
}
.submenu-turkie-arrow-3.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-turkie-arrow-3 {
  display: none;
}
.submenu-turkie-arrow-4.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-turkie-arrow-4 {
  display: none;
}
.submenu-turkie-arrow-5.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-turkie-arrow-5 {
  display: none;
}
/* خدمات ترکیه دکمه اش برای عوض شدن */
.after-hover.show {
  position: relative;
  top: 0px;
  right: 10px;
  display: inline;
}
.after-hover {
  display: none;
}

.before-hover {
  position: relative;
  top: 0px;
  right: 10px;
  display: inline;
}
.before-hover.hide {
  display: none;
}

/* خدمات در قبرس دکمه های قبل و بعدش برای باز و بسته  شدن */
.khadamat-ghebres-hover.show {
  position: absolute;
  z-index: 8;
  right: 610px;
  width: 219px;
  height: 327px;
  background-color: #ffffff;
  border: 10px;
  top: 180px;
  display: inline;
}
.khadamat-ghebres-hover {
  display: none;
}

.khadamat-ghebres-hover p {
  font-family: yekanBakhFanum-bold;
  font-size: 14px;
  color: #44424b;
}

.khadamat-ghebres-hover ul li img {
  width: 9px;
  height: 8px;
  cursor: pointer;
}

.khadamat-ghebres-hover ul li a {
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
  font-size: 14px;
  color: #44424b;
}
.khadamat-ghebres-hover ul li a:hover {
  color: #ff8a4a;
}

.sar-daste-ghebres {
  background-color: #fdefe8de;
  width: 100%;
  height: 59px;
}

/* خدمات قبرس باز وبسته شدن دکمش */
.ghebres-after-neshoone.show {
  position: relative;
  top: 0px;
  right: 10px;
  display: inline;
}
.ghebres-after-neshoone {
  display: none;
}

.ghebres-before-neshoone.hide {
  display: none;
}

.ghebres-before-neshoone {
  position: relative;
  top: 0px;
  right: 10px;
  display: inline;
}

/* arrow ها فسمت خدمات در قبرس */
.submenu-ghebres-arrow-1.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-ghebres-arrow-1 {
  display: none;
}

.submenu-ghebres-arrow-2.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-ghebres-arrow-2 {
  display: none;
}
.submenu-ghebres-arrow-3.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-ghebres-arrow-3 {
  display: none;
}
.submenu-ghebres-arrow-4.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-ghebres-arrow-4 {
  display: none;
}
.submenu-ghebres-arrow-5.show {
  position: absolute;
  right: 170px;
  display: inline;
}
.submenu-ghebres-arrow-5 {
  display: none;
}

/* سی اس اس پروفایل من */
.my-profile {
  background-color: #ff8a4a;
  width: 185px;
  height: 48px;
  position: relative;
  left: 20px;
  bottom: 5px;
}

.my-profile a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-family: yekanBakhFanum-regular;
}

.my-profile a img {
  position: relative;
}

.my-profile-image a img {
  width: 40px;
  height: 40px;
}

.my-profile-dokme-before {
  position: absolute;
}
.my-profile-dokme-before.hide {
  display: none;
}

.my-profile-dokme-after.show {
  position: absolute;
  left: 0px;
  display: flex;
}
.my-profile-dokme-after {
  display: none;
}

/* پروفایل من ساب منو */
.my-profile-submenu.show {
  position: absolute;
  z-index: 8;
  left: 70px;
  width: 219px;
  height: 327px;
  background-color: #ffffff;
  border: 10px;
  top: 180px;
  display: inline;
}
.mask-on-bg {
  background: #ffffff url(../images/my-profile-subMenu/1.png.png);
  width: 100%;
  height: 100%;
}

.dashboard .icon-text a {
  color: #44424b;
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
}

.dashboard .icon-text a:hover {
  color: #ff8a4a;
}

.dashboard-icon {
  position: relative;
  left: 11px;
}

.profile-icon {
  position: relative;
  left: 10px;
  width: 22px;
  height: 22px;
}

.profile .icon-text a {
  color: #44424b;
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
}

.profile .icon-text a:hover {
  color: #ff8a4a;
}

.sefaresh-icon {
  position: relative;
  left: 5px;
  width: 22px;
  height: 22px;
}
.sefaresh .icon-text a {
  color: #44424b;
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
}

.sefaresh .icon-text a:hover {
  color: #ff8a4a;
}

.massages .icon-text a {
  color: #44424b;
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
}

.massages .icon-text a:hover {
  color: #ff8a4a;
}

.massages-icon {
  position: relative;
  left: 10px;
}

.exit .icon-text a {
  color: #44424b;
  text-decoration: none;
  font-family: yekanbakhfanum-semibold;
}

.exit .icon-text a:hover {
  color: #ff8a4a;
}

.exit-icon {
  position: relative;
  left: 14px;
}
/* پروفایل من روش کلیک شه باز بشه */
.my-profile-submenu {
  display: none;
}

/* نشونه های قسمت ساب منو پروفایل من برای نارنجی شدن رنگش */
.dashboard-arrow.show {
  position: absolute;
  top: 29px;
  left: 35px;
  display: inline;
}
.dashboard-arrow {
  display: none;
}

.profile-arrow.show {
  position: absolute;
  top: 94px;
  left: 33px;
  display: inline;
}
.profile-arrow {
  display: none;
}

.sefaresh-arrow.show {
  position: absolute;
  top: 160px;
  left: 28px;
  display: inline;
}
.sefaresh-arrow {
  display: none;
}
.massages-arrow.show {
  position: absolute;
  top: 225px;
  left: 33px;
  display: inline;
}
.massages-arrow {
  display: none;
}
.exit-arrow.show {
  position: absolute;
  top: 291px;
  left: 37px;
  display: inline;
}
.exit-arrow {
  display: none;
}

/* پاک کردن عکس پروفایل منو سایز موبایل */
.left-side {
  display: none;
}

/* حذف آیکون قسمت همبرگری قسمت موبایل */
.icon-humburger-menu {
  display: none;
}

/* قسمت اجاره خودرو و ... و اقامتگاه  */
.khadamat-search {
  width: 100%;
}
.bg-first-khadamat {
  background-color: #ffffff71;
  width: 1179px;
  height: 261px;
  position: absolute;
  top: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-second-khadamat {
  background-color: #ffffff;
  width: 98%;
  height: 250px;
}

.first-row {
  width: 100%;
  height: 106px;
  background-color: #538848;
}

/* اجاره خودرو */
.rent-car {
  width: 145px;
  height: 100%;
  background-color: #fafbfb;
}

.icon-rent-car-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-rent-car-links:hover {
  color: #00a9b8;
}

.icon-rent-car img {
  width: 65px;
  height: 62px;
}
/* اقامتگاه */
.eghamatgah {
  width: 145px;
  height: 100%;
  background-color: #ffffff;
}

.icon-text-eghamatgah-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-eghamatgah-links:hover {
  color: #00a9b8;
}

.icon-text-eghamatgah-links img {
  width: 65px;
  height: 62px;
}

/* بلیط هواپیما */
.airplan-ticket {
  width: 145px;
  height: 100%;
  background-color: #fafbfb;
}

.icon-text-airplan-ticket-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-airplan-ticket-links:hover {
  color: #00a9b8;
}

.icon-text-airplan-ticket-links img {
  width: 65px;
  height: 62px;
}
/* هتل */
.hotel {
  width: 145px;
  height: 100%;
  background-color: #ffffff;
}

.icon-text-hotel-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-hotel-links:hover {
  color: #00a9b8;
}

.icon-text-hotel-links img {
  width: 65px;
  height: 62px;
}

/* ترانسفر */
.transfer {
  width: 145px;
  height: 100%;
  background-color: #fafbfb;
}

.icon-text-transfer-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-transfer-links:hover {
  color: #00a9b8;
}

.icon-text-transfer-links img {
  width: 65px;
  height: 62px;
}
/* تور */
.tour {
  width: 145px;
  height: 100%;
  background-color: #ffffff;
}

.icon-text-tour-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-tour-links:hover {
  color: #00a9b8;
}

.icon-text-tour-links img {
  width: 65px;
  height: 62px;
}

/* بیمه مسافرت */
.bime-mosaferat {
  width: 145px;
  height: 100%;
  background-color: #fafbfb;
}

.icon-text-bime-mosaferat-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-bime-mosaferat-links:hover {
  color: #00a9b8;
}

.icon-text-bime-mosaferat-links img {
  width: 65px;
  height: 62px;
}
/* ویزا */
.visa {
  width: 145px;
  height: 100%;
  background-color: #ffffff;
}

.icon-text-visa-links {
  text-decoration: none;
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.icon-text-visa-links:hover {
  color: #00a9b8;
}

.icon-text-visa-links img {
  width: 65px;
  height: 62px;
}

/* محل دریافت خودرو */
.second-row {
  width: 1107px;
  height: 81.5px;
  position: relative;
  top: 50px;
  right: 10px;
  z-index: 105;
}

.mahal-daryafte-khodro {
  width: 386px;
  height: 80.5px;
}

.mahal-daryafte-khodro label {
  font-family: yekanbakhfanum-semibold;
  font-size: 13px;
}

.mahal-daryafte-khodro-select {
  background-color: #fafbfb;
  width: 100%;
  height: 52px;
}
.mahal-daryafte-khodro-select option {
  font-size: 13px;
  font-family: yekanbakhfanum-semibold;
}

/* تاریخ و ساعت دریافت */
.date-hour-recive {
  width: 268px;
  height: 81.5px;
}

.date-hour-recive label {
  font-family: yekanbakhfanum-semibold;
  font-size: 13px;
}

.date-hour-recive-select {
  background-color: #fafbfb;
  width: 100%;
  height: 52px;
}
.date-hour-recive-select option {
  font-size: 13px;
  font-family: yekanbakhfanum-semibold;
}
/* تاریخ و ساعت تحویل */
.date-hour-delivery {
  width: 268px;
  height: 81.5px;
}

.date-hour-delivery label {
  font-family: yekanbakhfanum-semibold;
  font-size: 13px;
}

.date-hour-delivery-select {
  background-color: #fafbfb;
  width: 100%;
  height: 52px;
}
.date-hour-delivery-select option {
  font-size: 13px;
  font-family: yekanbakhfanum-semibold;
}

/* اعمال و جست و جو */
.filter-search {
  position: relative;
  top: 5px;
  background: rgb(0, 184, 184);
  background: linear-gradient(
    90deg,
    rgba(0, 184, 184, 1) 0%,
    rgba(0, 184, 184, 1) 55%,
    rgba(0, 108, 115, 1) 100%
  );
  width: 154px;
  height: 52px;
  color: #ffffff;
  font-size: 14px;
}
/* قسمت بدنه سایت main */
.bg-white-main {
  width: 100%;
  height: 4070px;
  z-index: 100;
  position: relative;
}

/* ماسک اول روی بکگراند */
.first-mask-on-bg-main {
  background: url(../images/khadamat-turkamin-background/Mask\ Group\ 42.png)
    no-repeat;
  width: 857px;
  height: 335px;
  position: relative;
  left: 20px;
  top: 100px;
  z-index: 101;
  opacity: 100%;
}

/* چرا خدمات ترکتامین */
.chera-khadamat-turkamin {
  width: 90%;
  height: 440px;
  position: relative;
  right: 145px;
  top: 120px;
}

.chera-khadamat-turkamin-text {
  width: 552px;
  height: 396px;
}

.chera-khadamat-turkamin-text-line-1 p {
  font-size: 24px;
  font-family: yekanBakhFanum-regular;
  color: #15192a;
}
.color-orange {
  color: #ff8a4a;
}
.color-blue {
  color: #00a9b8;
}
.chera-khadamat-turkamin-text-line-2 {
  width: 551px;
  height: 133px;
}
.chera-khadamat-turkamin-text-line-2 p {
  font-size: 18px;
  font-family: yekanbakhfanum-semibold;
}
.chera-khadamat-turkamin-text-line-3 {
  width: 410px;
  height: 99px;
}
.line-3-text ul {
  text-align: center;
}
.line-3-text ul li {
  font-size: 16px;
  font-family: yekanbakhfanum-semibold;
}
.line-3-text ul li::marker {
  color: #00a9b8;
  font-size: 22px;
}
.line-3-text {
  position: relative;
  right: 25px;
}
/* ماسک دوم پایین چرا خدمات ترکتامین */
.second-mask-on-bg {
  background: url(../images/khadamat-turkamin-background/Mask\ Group\ 38.png)
    no-repeat;
  width: 631px;
  height: 247px;
  position: absolute;
  right: 740px;
  top: 530px;
  z-index: 101;
}

/* عکس قسمت چرا خدمات ترکتامین */
.chera-khadamat-turkamin-image {
  width: 50%;
}
.chera-khadamat-turkamin-image img {
  opacity: 100%;
}
/* خدمات ترکتامین در ترکیه */
.khadamat-turktamin-dar-turkie {
  position: relative;
  top: 400px;
  width: 1157px;
  height: 387px;
}

.khadamat-turktamin-dar-turkie-bg {
  background-color: #fafbfb;
  width: 1157px;
  height: 387px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  z-index: 102;
  border-radius: 40px;
}
.khadamat-turktamin-dar-turkie-image-bg {
  background-color: #e2e4e9;
  width: 333px;
  height: 385px;
  border-radius: 40px;
}
.khadamat-turktamin-dar-turkie-image-bg img {
  width: 421px;
  height: 339px;
}
/* ردیف اول لینک ها */
.khadamat-turktamin-dar-turkie-links {
  position: relative;
  right: 170px;
}
.concert-too-turkie {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.concert-too-turkie:hover {
  color: #00a9b8;
}
.rent-car-too-turkie {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.rent-car-too-turkie:hover {
  color: #00a9b8;
}
.rent-home-too-turkie {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.rent-home-too-turkie:hover {
  color: #00a9b8;
}
.tour-mosaferat-too-turkie {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.tour-mosaferat-too-turkie:hover {
  color: #00a9b8;
}

/* قسمت درباره ما */
.about-us {
  position: relative;
  top: 500px;
}

.about-us-bg {
  background: url(../images/background-about-us/Path\ 180913.png);
  height: 450px;
}

.bg-logo-top {
  background: url(../images/background-about-us/bg-background-logo.png);
  width: 266px;
  height: 266px;
  position: relative;
  bottom: 130px;
  z-index: 100;
}
.about-us-logo-top {
  height: 120px;
}
.logo-on-top {
  position: relative;
  top: 120px;
}

/* ردیف اول درباره ما نوشته ها */
.about-us-text {
  width: 742px;
  height: 262px;
}

.about-us-text-row1-img-1-on-bg {
  width: 35px;
  height: 60px;
}

.about-us-text1 {
  position: relative;
  bottom: 13px;
}

.about-us-text1-1 {
  color: #ff8a4a;
  font-family: yekanBakhFanum-ExtraBold;
  font-size: 28px;
  margin: 0;
}

.about-us-text-row1 {
  width: 52%;
}

.about-us-text1 p span {
  color: #ffffff;
}

.about-us-text1-2 {
  color: #e2e4e9;
  font-size: 18px;
  font-family: yekanBakhFanum-regular;
  margin: 0;
}

.about-us-text-row1-img-2-on-bg img {
  width: 1px;
  height: 44px;
}

.social-media-links-row1 {
  position: relative;
  bottom: 13px;
}

.social-media-links-row1 img {
  width: 18px;
  height: 18px;
}

/* ردیف دوم درباره ما نوشته ها */
.about-us-text-row2 {
  width: 100%;
}
.about-us-text-row2 p {
  color: #dbdbdc;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
  line-height: 30px;
}

/* ردیف سوم */
.about-us-text-row3 {
  width: 50%;
  height: 55px;
}

.read-more {
  background-color: #de7c47;
  color: #ffffff;
  width: 176px;
  height: 54px;
  border: none;
}

.call-with-us {
  background-color: #00a9b8;
  color: #ffffff;
  width: 176px;
  height: 54px;
  border: none;
}

/* ستون دوم قسمت بخش درباره ما */
.about-us-amarha {
  width: 400px;
  height: 350px;
  position: relative;
  bottom: 30px;
}

.about-us-amarha-col1 {
  position: relative;
  bottom: 30px;
  gap: 10px;
}

.books {
  background-color: #0d0c11;
  width: 126px;
  height: 126px;
  border-width: 1px;
  border-color: #44424b;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.books:hover {
  background-color: #f1844a;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  transform: scale(1.1);
}

.books img {
  position: absolute;
  z-index: 99;
}

.books-p-1 {
  z-index: 100;
  color: #dbeefb;
  font-size: 38px;
  font-family: yekanBakhFanum-ExtraBold;
  margin: 0;
}

.books-p-2 {
  z-index: 100;
  color: #dbeefb;
  font-size: 16px;
  font-family: yekanbakhfanum-semibold;
  margin: 0;
}

.books p {
  z-index: 100;
}

.customer {
  background-color: #0d0c11;
  width: 126px;
  height: 126px;
  border-width: 1px;
  border-color: #44424b;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
}

.customer img {
  position: absolute;
  z-index: 99;
}

.customer p {
  z-index: 100;
}

.customer-p-1 {
  z-index: 100;
  color: #dbeefb;
  font-size: 38px;
  font-family: yekanBakhFanum-ExtraBold;
  margin: 0;
}

.customer-p-2 {
  z-index: 100;
  color: #dbeefb;
  font-size: 16px;
  font-family: yekanbakhfanum-semibold;
  margin: 0;
}

.customer:hover {
  background-color: #f1844a;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  transform: scale(1.1);
}

/* ستون سمت چپ */
.about-us-amarha-col2 {
  position: relative;
  gap: 10px;
}

.maghalat {
  background-color: #0d0c11;
  width: 126px;
  height: 126px;
  border-width: 1px;
  border-color: #44424b;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
}
.maghalat:hover {
  background-color: #f1844a;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  transform: scale(1.1);
}

.maghalat img {
  position: absolute;
  z-index: 99;
}

.maghalat-p-1 {
  z-index: 100;
  color: #dbeefb;
  font-size: 38px;
  font-family: yekanBakhFanum-ExtraBold;
  margin: 0;
}

.maghalat-p-2 {
  z-index: 100;
  color: #dbeefb;
  font-size: 16px;
  font-family: yekanbakhfanum-semibold;
  margin: 0;
}

.maghalat p {
  z-index: 100;
}

.Personnel {
  background-color: #0d0c11;
  width: 126px;
  height: 126px;
  border-width: 1px;
  border-color: #44424b;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
}

.Personnel:hover {
  background-color: #f1844a;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  transform: scale(1.1);
}

.Personnel img {
  position: absolute;
  z-index: 99;
}

.Personnel-p-1 {
  z-index: 100;
  color: #dbeefb;
  font-size: 38px;
  font-family: yekanBakhFanum-ExtraBold;
  margin: 0;
}

.Personnel-p-2 {
  z-index: 100;
  color: #dbeefb;
  font-size: 16px;
  font-family: yekanbakhfanum-semibold;
  margin: 0;
}

.Personnel p {
  z-index: 100;
}

.arrow-down-bg {
  background: url(../images/background-about-us/Path\ 180912.png);
  width: 198px;
  height: 36px;
  position: relative;
  bottom: 55px;
}

.arrow-down-icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: #ff8a4a;
  position: relative;
  top: 5px;
}

.arrow-down-icon:hover {
  background-color: #00a9b8;
  transform: scale(1.1);
}

.arrow-down-icon img {
  width: 16px;
  height: 9px;
}

/* خدمات ترکتامین در امارات */

.khadamat-turktamin-dar-emarat {
  position: relative;
  top: 650px;
  width: 1157px;
  height: 387px;
}

.khadamat-turktamin-dar-emarat-bg {
  background-color: #fafbfb;
  width: 1157px;
  height: 387px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  z-index: 102;
  border-radius: 40px;
}
.khadamat-turktamin-dar-emarat-image-bg {
  background-color: #e2e4e9;
  width: 333px;
  height: 385px;
  border-radius: 40px;
}
.khadamat-turktamin-dar-emarat-image-bg img {
  width: 421px;
  height: 339px;
}
/* ردیف اول لینک ها */
.khadamat-turktamin-dar-emarat-links {
  position: relative;
  right: 170px;
}
.concert-too-emarat {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.concert-too-emarat:hover {
  color: #00a9b8;
}
.rent-car-too-emarat {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.rent-car-too-emarat:hover {
  color: #00a9b8;
}
.rent-home-too-emarat {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.rent-home-too-emarat:hover {
  color: #00a9b8;
}
.tour-mosaferat-too-emarat {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.tour-mosaferat-too-emarat:hover {
  color: #00a9b8;
}

/* قسمت سوالات متداول */
.questions {
  width: 100%;
  height: 519px;
  position: relative;
  top: 730px;
}

.questions-container {
  width: 90%;
  height: 100%;
}

.questions-col1 {
  width: 429px;
  height: 100%;
}

.questions-col1 img {
  width: 300px;
  height: 330px;
}

.questions-col1 .questions-col1-p1 {
  font-family: yekanBakhFanum-ExtraBold;
  font-size: 23px;
  color: #0d0c11;
}

.questions-col1 .questions-col1-p2 {
  font-family: yekanBakhFanum-regular;
  font-size: 14px;
  color: #44424b;
  text-align: center;
}

/* accordion ستون دوم قسمت  */

.questions-col2 {
  width: 722px;
  height: 100%;
  position: relative;
  top: 50px;
  right: 30px;
}

/* آیکون علامت سوال قبلش */
.question-before-1.hide {
  display: none;
}

.question-before-1 {
  display: inline;
}

/* آیکون علامت سوال بعدش */
.question-after-1 {
  position: relative;
  display: none;
}

.question-after-1.show {
  display: inline;
}

/* button نوشته توی  */
.accordion-button .button1-text {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}

.accordion-button .button1-text.show {
  color: #ffffff;
}

/* button بکگراند  */
.accordion-button-1 h2 button {
  background-color: #f8f8f8 !important;
}

.accordion-button-1 h2 button.show {
  background-color: #00a9b8 !important;
  color: #ffffff;
}

.accordion-button::after {
  padding: 0px;
  margin: 0px;
  position: relative;
  right: 250px;
  display: none;
}

/* نوشته قسمتی که باید باز بشه */
.accordion-body {
  width: 100%;
  background-color: #00a9b8;
  color: #ffffff;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
}

/* نشونه بعد کلیک  */
.accordion-button1-img-1 {
  position: relative;
  right: 250px;
}

.accordion-button1-img-1.hide {
  display: none;
}

/* نشونه قبل کلیک */
.accordion-button1-img-2 {
  position: absolute;
  left: 25px;
  display: none;
}

.accordion-button1-img-2.show {
  display: inline;
}

/* accordion دوم */
/* آیکون علامت سوال قبلش */
.question-before-2.hide {
  display: none;
}

.question-before-2 {
  display: inline;
}

/* آیکون علامت سوال بعدش */
.question-after-2 {
  position: relative;
  display: none;
}

.question-after-2.show {
  display: inline;
}

/* button نوشته توی  */
.accordion-button .button2-text {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}

.accordion-button .button2-text.show {
  color: #ffffff;
}

/* button بکگراند  */
.accordion-button-2 h2 button {
  background-color: #f8f8f8 !important;
}

.accordion-button-2 h2 button.show {
  background-color: #00a9b8 !important;
  color: #ffffff;
}

.accordion-button::after {
  padding: 0px;
  margin: 0px;
  position: relative;
  right: 250px;
  display: none;
}

/* نوشته قسمتی که باید باز بشه */
.accordion-body {
  width: 100%;
  background-color: #00a9b8;
  color: #ffffff;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
}

/* نشونه بعد کلیک  */
.accordion-button2-img-1 {
  position: relative;
  right: 250px;
}

.accordion-button2-img-1.hide {
  display: none;
}

/* نشونه قبل کلیک */
.accordion-button2-img-2 {
  position: absolute;
  left: 25px;
  display: none;
}

.accordion-button2-img-2.show {
  display: inline;
}

/* accordion سومین  */
.question-before-3.hide {
  display: none;
}

.question-before-3 {
  display: inline;
}

/* آیکون علامت سوال بعدش */
.question-after-3 {
  position: relative;
  display: none;
}

.question-after-3.show {
  display: inline;
}

/* button نوشته توی  */
.accordion-button .button3-text {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}

.accordion-button .button3-text.show {
  color: #ffffff;
}

/* button بکگراند  */
.accordion-button-3 h2 button {
  background-color: #f8f8f8 !important;
}

.accordion-button-3 h2 button.show {
  background-color: #00a9b8 !important;
  color: #ffffff;
}

.accordion-button::after {
  padding: 0px;
  margin: 0px;
  position: relative;
  right: 250px;
  display: none;
}

/* نوشته قسمتی که باید باز بشه */
.accordion-body {
  width: 100%;
  background-color: #00a9b8;
  color: #ffffff;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
}

/* نشونه بعد کلیک  */
.accordion-button3-img-1 {
  position: relative;
  right: 250px;
}

.accordion-button3-img-1.hide {
  display: none;
}

/* نشونه قبل کلیک */
.accordion-button3-img-2 {
  position: absolute;
  left: 25px;
  display: none;
}

.accordion-button3-img-2.show {
  display: inline;
}

/* accordion چهارمین  */
.question-before-4.hide {
  display: none;
}

.question-before-4 {
  display: inline;
}

/* آیکون علامت سوال بعدش */
.question-after-4 {
  position: relative;
  display: none;
}

.question-after-4.show {
  display: inline;
}

/* button نوشته توی  */
.accordion-button .button4-text {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}

.accordion-button .button4-text.show {
  color: #ffffff;
}

/* button بکگراند  */
.accordion-button-4 h2 button {
  background-color: #f8f8f8 !important;
}

.accordion-button-4 h2 button.show {
  background-color: #00a9b8 !important;
  color: #ffffff;
}

.accordion-button::after {
  padding: 0px;
  margin: 0px;
  position: relative;
  right: 250px;
  display: none;
}

/* نوشته قسمتی که باید باز بشه */
.accordion-body {
  width: 100%;
  background-color: #00a9b8;
  color: #ffffff;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
}

/* نشونه بعد کلیک  */
.accordion-button4-img-1 {
  position: relative;
  right: 250px;
}

.accordion-button4-img-1.hide {
  display: none;
}

/* نشونه قبل کلیک */
.accordion-button4-img-2 {
  position: absolute;
  left: 25px;
  display: none;
}

.accordion-button4-img-2.show {
  display: inline;
}

/* ششم accordion */
/* آیکون علامت سوال قبلش */
.question-before-6.hide {
  display: none;
}

.question-before-6 {
  display: inline;
}

/* آیکون علامت سوال بعدش */
.question-after-6 {
  position: relative;
  display: none;
}

.question-after-6.show {
  display: inline;
}

/* button نوشته توی  */
.accordion-button .button6-text {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}

.accordion-button .button6-text.show {
  color: #ffffff;
}

/* button بکگراند  */
.accordion-button-6 h2 button {
  background-color: #f8f8f8 !important;
}

.accordion-button-6 h2 button.show {
  background-color: #00a9b8 !important;
  color: #ffffff;
}

.accordion-button::after {
  padding: 0px;
  margin: 0px;
  position: relative;
  right: 250px;
  display: none;
}

/* نوشته قسمتی که باید باز بشه */
.accordion-body {
  width: 100%;
  background-color: #00a9b8;
  color: #ffffff;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
}

/* نشونه بعد کلیک  */
.accordion-button6-img-1 {
  position: relative;
  right: 250px;
}

.accordion-button6-img-1.hide {
  display: none;
}

/* نشونه قبل کلیک */
.accordion-button6-img-2 {
  position: absolute;
  left: 25px;
  display: none;
}

.accordion-button6-img-2.show {
  display: inline;
}

/* قسمت خدمات ترکتامین در قبرس شمالی css */

.khadamat-turktamin-dar-ghebres {
  position: relative;
  top: 750px;
  width: 1157px;
  height: 387px;
}

.khadamat-turktamin-dar-ghebres-bg {
  background-color: #fafbfb;
  width: 1157px;
  height: 387px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  z-index: 102;
  border-radius: 40px;
}
.khadamat-turktamin-dar-ghebres-image-bg {
  background-color: #e2e4e9;
  width: 333px;
  height: 385px;
  border-radius: 40px;
}
.khadamat-turktamin-dar-ghebres-image-bg img {
  width: 421px;
  height: 339px;
}
/* ردیف اول لینک ها */
.khadamat-turktamin-dar-ghebres-links {
  position: relative;
  right: 170px;
}
.concert-too-ghebres {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.concert-too-ghebres:hover {
  color: #00a9b8;
}
.rent-car-too-ghebres {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.rent-car-too-ghebres:hover {
  color: #00a9b8;
}
.rent-home-too-ghebres {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.rent-home-too-ghebres:hover {
  color: #00a9b8;
}
.tour-mosaferat-too-ghebres {
  color: #44424b;
  font-family: yekanbakhfanum-semibold;
}
.tour-mosaferat-too-ghebres:hover {
  color: #00a9b8;
}

/* آخر قسمت خدمات ترکتامین در قبرس شمالی */

/* نوشته بالای اسلایدر */
.slider-taze-tarin-maghalat {
  width: 100%;
  position: relative;
  top: 1000px;
}

.icon-text-slider {
  width: 90%;
  position: relative;
  left: 80px;
}

.slider-taze-tarin-maghalat .icon-text-slider img {
  width: 23px;
  height: 24px;
}

.slider-taze-tarin-maghalat .icon-text-slider .titr-1 {
  font-size: 24px;
  color: #15192a;
  font-family: yekanBakhFanum-ExtraBold;
}

.slider-taze-tarin-maghalat .icon-text-slider .titr-2 {
  font-size: 24px;
  color: #818899;
  font-family: yekanBakhFanum-regular;
}

.buttons {
  position: absolute;
  left: 190px;
  bottom: 430px;
}

/* نقطه های وسط باتن */

.dot-1 {
  width: 12px;
  height: 12px;
  background-color: #e2e4e9;
}

.dot-1.show {
  background-color: #44424b;
  transform: scale(1.1);
}

.dot-2 {
  width: 12px;
  height: 12px;
  background-color: #e2e4e9;
}

.dot-2.show {
  background-color: #44424b;
  transform: scale(1.1);
}

.dot-3 {
  width: 12px;
  height: 12px;
  background-color: #e2e4e9;
}

.dot-3.show {
  background-color: #44424b;
}
/* اسلایدر */
.product-container {
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  top: 30px;
  width: auto;
}

.product {
  position: relative;
  top: 1000px;
  width: auto;
}

.card-col1 {
  position: relative;
  right: 20px;
}

.card-col2 {
  position: relative;
  left: 15px;
  height: auto;
}

.pre-btn {
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  opacity: 0.6;
  position: relative;
  left: 8px;
}

.pre-btn:hover {
  opacity: 1;
}

.nxt-btn {
  background-color: #ff8a4a;
  width: 38px;
  height: 38px;
  opacity: 0.9;
  position: relative;
  right: 8px;
}

.nxt-btn:hover {
  opacity: 1;
}

.product-card1 {
  width: 374px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.product-container .product-card1 .product-image-1 {
  position: relative;
  top: 15px;
  background: url(../images/slider/img-1.png);
  width: 352px;
  height: 234px;
}

.product-container .product-card1 .product-image-1 .product-txt-on-image {
  position: relative;
  top: 203px;
  width: 228px;
  height: 31px;
  background-color: #ffffffa6;
  border-style: solid;
  border-width: 2px;
  border-color: #44424b;
  border-radius: 15px 0 25px 0px;
}

.time-comment {
  position: relative;
  top: 30px;
}

.time1 img {
  width: 17px;
  height: 20px;
  position: relative;
  right: 13px;
}

.time1 img:hover {
  transform: scale(1.2);
}

.time1 p {
  position: relative;
  right: 15px;
  color: #15192a;
  font-size: 12px;
  font-family: yekanBakhFanum-regular;
}

.comment1 img {
  width: 17px;
  height: 19px;
  position: relative;
  left: 3px;
}

.comment1 img:hover {
  transform: scale(1.2);
}

.comment1 p {
  color: #15192a;
  font-size: 12px;
  font-family: yekanBakhFanum-regular;
}

.nxt1 img {
  width: 25px;
  height: 25px;
  position: relative;
  left: 15px;
  opacity: 0.9;
  cursor: pointer;
}

.nxt1 img:hover {
  opacity: 1.2;
  transform: scale(1.1);
}

.name1 p {
  color: #0d0c11;
  font-size: 12px;
  font-family: yekanBakhFanum-regular;
}

.name1 img {
  width: 24px;
  height: 24px;
  position: relative;
  left: 6px;
}

.date1 p {
  color: #0d0c11;
  font-size: 12px;
  font-family: yekanBakhFanum-regular;
}

.date1 img {
  width: 16px;
  height: 16px;
  position: relative;
  left: 6px;
}

.card-txt1-1 {
  position: relative;
  top: 25px;
  right: 10px;
}

.card-txt1-1 p {
  font-family: yekanBakhFanum-bold;
  font-size: 14px;
  color: #0d0c11;
}

.card-line1-1 {
  position: relative;
  top: 5px;
}

.card-txt1-2 {
  position: relative;
  top: 10px;
}

.card-txt1-2 p {
  color: #0d0c11;
  font-size: 12px;
  font-family: yekanBakhFanum-regular;
}

/* عکس کارت دوم */
.product-card2 {
  width: 374px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.product-image-2 {
  position: relative;
  top: 15px;
  background: url(../images/slider/ing-2.png);
  width: 352px;
  height: 234px;
}

.product-container .product-card2 .product-image-2 .product-txt-on-image {
  position: relative;
  top: 203px;
  width: 228px;
  height: 31px;
  background-color: #ffffffa6;
  border-style: solid;
  border-width: 2px;
  border-color: #44424b;
  border-radius: 15px 0 25px 0px;
}

/* عکس کارت سوم */
.product-card3 {
  width: 374px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.product-image-3 {
  position: relative;
  top: 15px;
  background: url(../images/slider/img-3.png);
  width: 352px;
  height: 234px;
}

.product-container .product-card3 .product-image-3 .product-txt-on-image {
  position: relative;
  top: 203px;
  width: 228px;
  height: 31px;
  background-color: #ffffffa6;
  border-style: solid;
  border-width: 2px;
  border-color: #44424b;
  border-radius: 15px 0 25px 0px;
}

/* عکس کارت چهارم */
.product-card4 {
  width: 374px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.product-image-4 {
  position: relative;
  top: 15px;
  background: url(../images/slider/img-1.png);
  width: 352px;
  height: 234px;
}

.product-container .product-card4 .product-image-4 .product-txt-on-image {
  position: relative;
  top: 203px;
  width: 228px;
  height: 31px;
  background-color: #ffffffa6;
  border-style: solid;
  border-width: 2px;
  border-color: #44424b;
  border-radius: 15px 0 25px 0px;
}

/* عکس کارت پنجم */
.product-card5 {
  width: 374px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.product-image-5 {
  top: 15px;
  position: relative;
  background: url(../images/slider/ing-2.png);
  width: 352px;
  height: 234px;
}

.product-container .product-card5 .product-image-5 .product-txt-on-image {
  position: relative;
  top: 203px;
  width: 228px;
  height: 31px;
  background-color: #ffffffa6;
  border-style: solid;
  border-width: 2px;
  border-color: #44424b;
  border-radius: 15px 0 25px 0px;
}

/* عکس کارت ششم */
.product-card6 {
  width: 374px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.product-image-6 {
  position: relative;
  top: 15px;
  background: url(../images/slider/img-3.png);
  width: 352px;
  height: 234px;
}

.product-container .product-card6 .product-image-6 .product-txt-on-image {
  position: relative;
  top: 203px;
  width: 228px;
  height: 31px;
  background-color: #ffffffa6;
  border-style: solid;
  border-width: 2px;
  border-color: #44424b;
  border-radius: 15px 0 25px 0px;
}

/* آخر اسلایدر */

/* قسمت فوتر */
.footer-container {
  width: 100%;
  height: 596px;
}

.bg-footer {
  background: url(../images/footer/بک\ گراند\ فوتر.png);
  height: 579px;
  position: relative;
  top: 17px;
}

/* ردیف اول لوگو و نشونه به سمت بالا */

.bg-logo {
  width: 229px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 0 0 50px 50px;
  position: relative;
  top: 10px;
}

.bg-logo img {
  width: 100%;
}

.up-icon {
  position: relative;
  right: 360px;
  bottom: 10px;
  width: 47px;
  height: 40px;
  background-color: #ff8a4a;
  cursor: pointer;
}

.up-icon:hover {
  transform: scale(1.1);
}

.up-icon img {
  width: 17px;
  height: 10px;
}

.dashed-footer {
  position: absolute;
  right: 180px;
  width: 20px;
  height: 100%;
}

/* ردیف دوم فوتر */
.about-turktamin-footer-container {
  position: relative;
}

.logo-turktamin .dashed-footer {
  color: #ffffff;
  opacity: 23%;
  width: 143px;
  transform: rotate(90deg);
  margin-right: 20px;
}

.about-text-social-media-links {
  width: 100%;
  position: relative;
  top: 30px;
}

.about-turktami-footer-col2 .about-text-social-media-links .txt p {
  font-size: 18px;
  color: #ffffff;
  font-family: yekanBakhFanum-bold;
}

.about-turktami-footer-col2 .about-text-social-media-links .txt p span {
  color: #ffb48b;
}

.social-media {
  width: 429px;
  height: 41px;
  border-style: dashed;
  border-width: 1px;
  border-color: #b4eaee;
}

.social-media .social-media-txt p {
  color: #eefeff;
  font-family: yekanbakhfanum-semibold;
  font-size: 14px;
}

.social-media .social-media-icon img:nth-child(1) {
  width: 18px;
  height: 18px;
}

.social-media .social-media-icon img:nth-child(2) {
  width: 22px;
  height: 18px;
}

.social-media .social-media-icon img:nth-child(3) {
  width: 18px;
  height: 18px;
}

.social-media .social-media-icon img:nth-child(4) {
  width: 22px;
  height: 18px;
}

.about-turktamin-txt p {
  position: relative;
  top: 40px;
  font-size: 14px;
  font-family: yekanBakhFanum-regular;
  color: #eefeff;
}

/* ردی دوم قسمت فوتر */
.footer-col2 {
  width: 100%;
  position: relative;
  top: 20px;
}

.bg-1-col2 {
  background-color: rgba(255, 255, 255, 0.178);
  width: 1237px;
  height: 236px;
  position: absolute;
}

.bg-2-col2 {
  background-color: #0d0c11;
  width: 1272px;
  height: 250px;
  position: absolute;
  bottom: 10px;
}

.quick-access {
  position: relative;
  right: 40px;
}

.quick-access-col1-txt img {
  width: 24px;
  height: 24px;
}

.quick-access-col1-txt p {
  font-size: 14px;
  font-family: yekanBakhFanum-bold;
  color: #ffffff;
}

.quick-access-col1 ul {
  list-style: none;
  margin-top: 14px;
}

.quick-access-col1 ul li:nth-child(2),
.quick-access-col1 ul li:nth-child(3),
.quick-access-col1 ul li:nth-child(4) {
  padding-top: 10px;
}

.quick-access-col1 ul li a {
  text-decoration: none;
  font-family: yekanBakhFanum-regular;
  color: #ffffff;
  font-size: 14px;
}

.quick-access-col1 ul li a:hover {
  color: #ff8a4a;
}

.quick-access-col2 {
  margin-top: 40px;
}

.quick-access-col2 ul {
  list-style: none;
}

.quick-access-col2 ul li:nth-child(2),
.quick-access-col2 ul li:nth-child(3),
.quick-access-col2 ul li:nth-child(4) {
  padding-top: 10px;
}

.quick-access-col2 ul li a {
  text-decoration: none;
  font-family: yekanBakhFanum-regular;
  color: #ffffff;
  font-size: 14px;
}

.quick-access-col2 ul li a:hover {
  color: #ff8a4a;
}

.quick-access-col2 img {
  width: 54px;
  height: 54px;
  position: relative;
  top: 80px;
  left: 40px;
}

.line-break-1 {
  width: 180px;
  height: 100%;
}

.line-break-1 hr {
  position: absolute;
  width: 180px;
  color: #b4eaee;
  transform: rotate(90deg);
}

/* قسمت ارتباط با ترکنامین */
.contact-with-turktamin {
  position: relative;
  right: 25px;
}

.contact-with-turktamin-col1-txt {
  margin-bottom: 20px;
}

.contact-with-turktamin-col1-txt img {
  width: 24px;
  height: 24px;
}

.contact-with-turktamin-col1-txt p {
  font-size: 14px;
  font-family: yekanBakhFanum-bold;
  color: #ffffff;
}

.contact-with-turktamin-adress .txt1 p {
  color: #e2e4e9;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.contact-with-turktamin-adress .txt2 p {
  color: #e2e4e9;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.contact-with-turktamin-telephone .txt1 p {
  color: #e2e4e9;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.contact-with-turktamin-telephone .txt2 p {
  direction: ltr;
  color: #e2e4e9;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.contact-with-turktamin-telephone .txt2 p span {
  color: #ff8a4a;
}

.contact-with-turktamin-whatsapp .txt1 p {
  color: #e2e4e9;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.contact-with-turktamin-whatsapp .txt2 p {
  direction: ltr;
  color: #e2e4e9;
  font-size: 14px;
  font-family: yekanbakhfanum-semibold;
}

.contact-with-turktamin-whatsapp img {
  position: relative;
  bottom: 35px;
  right: 60px;
}

/* خط جداکننده */
.line-break-2 {
  width: 180px;
  height: 100%;
}

.line-break-2 hr {
  position: absolute;
  right: 740px;
  width: 180px;
  color: #b4eaee;
  transform: rotate(90deg);
}

/* مجوز های ترکتامین */

.mojavez-turktamin {
  margin-bottom: 20px;
  position: relative;
  left: 60px;
}

.mojavez-turktamin-txt {
  margin-bottom: 40px;
}

.images {
  gap: 10px;
}

.mojavez-turktamin img {
  width: 24px;
  height: 24px;
}

.mojavez-turktamin p {
  font-size: 14px;
  font-family: yekanBakhFanum-bold;
  color: #ffffff;
}

.image1 {
  background-color: #1b1920;
  width: 94px;
  height: 112px;
}

.image1 img {
  width: 62px;
  height: 70px;
}

.image2 {
  background-color: #1b1920;
  height: 112px;
}

.image2 img {
  width: 62px;
  height: 70px;
}

.image3 {
  background-color: #1b1920;
  height: 112px;
}

.image3 img {
  width: 62px;
  height: 70px;
}

.copy-right-footer {
  margin-top: 265px;
}

.copy-right-footer .copy-right-text p {
  color: #ffffff;
  font-size: 12px;
  font-family: yekanbakhfanum-semibold;
}

.copy-right-footer .copy-right-text p span {
  font-size: 20px;
}

/* هاید کردن قسمت موبایل از سایز بزرگتر */
.main-mobile {
  display: none !important;
}

.khadamat-search-mobile{
  display: none;
}

.first-bg{
  display: none;
}